h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.25px;
  margin-bottom: 0.5em;
}

.page-title {
  font-weight: 500;
}

label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.45;
}
