@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

$triadPrimary: #fed914;
$triadSecondary: #0bdb45;
$triadTetriary: #2b99ff;
$nodeBg: #37362d;

.TriadNode {
  width: 70px;
  height: 70px;
  background-color: $nodeBg;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: $border-radius;
  position: relative;
  transition: background 0.3s ease-in-out;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    background: darken($nodeBg, 5%);
  }

  .TriadNodeShape {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;

    &:hover {
      transform: scale(1.1);
    }
  }

  .SvgShape {
    margin: auto;
    fill: rgba(0, 0, 0, 0.2);

    > svg {
      overflow: visible;
      fill: "inherit";
    }

    &.Primary {
      fill: $triadPrimary;

      &.Solid {
        fill: $triadPrimary;
      }

      &.Outline {
        > svg > path {
          fill: transparent;
          stroke: $triadPrimary;
          stroke-width: 4px;
          stroke-linecap: round;
          transform-origin: 50% 50%;
          transform: scale(0.95);
        }
      }
    }

    &.Secondary {
      fill: $triadSecondary;

      &.Solid {
        fill: $triadSecondary;
      }

      &.Outline {
        > svg > path {
          fill: transparent;
          stroke: $triadSecondary;
          stroke-width: 4px;
          stroke-linecap: round;
          transform-origin: 50% 50%;
          transform: scale(0.95);
        }
      }
    }

    &.Tetriary {
      fill: $triadTetriary;

      &.Solid {
        fill: $triadTetriary;
      }

      &.Outline {
        > svg > path {
          fill: transparent;
          stroke: $triadTetriary;
          stroke-width: 4px;
          stroke-linecap: round;
          transform-origin: 50% 50%;
          transform: scale(0.95);
        }
      }
    }
  }
}
