@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";
@import "./triads.variables.scss";

.TriadsPage {
  color: yellow;
  background-color: $triadPageBg;
  min-height: 100vh;

  .TriadsPageContent {
    margin: auto;
  }

  .BackLink {
    padding: 1rem 0 0;
    display: flex;
    justify-content: space-around;
  }
}

:global {
  .Button-back {
    background-color: $nodeBg !important;
    border-color: $nodeBg !important;
    &:hover {
      background-color: darken($nodeBg, 3%) !important;
      border-color: darken($nodeBg, 3%) !important;
    }
    &:active {
      background-color: darken($nodeBg, 5%) !important;
      border-color: darken($nodeBg, 5%) !important;
    }
  }
}
