.loaderBlock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: hard-light;

  svg {
    animation: 3s linear infinite rotation;
  }

}

@keyframes rotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
