@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.InputBase {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.45;
  padding: .5rem .5rem;
  border: 2px solid $gray-200;
  background-color: $gray-200;
  height: 2.5rem;
  border-radius: $border-radius;
  transition: border-color .2s ease-in-out;

  &:hover {
    border-color: $gray-300;
  }

  &:focus {
    outline: none;
    border-color: $gray-400;
  }

  &:disabled {
    opacity: $btn-disabled-opacity;
    color: $gray-900;
    cursor: default;
  }

  &.Valid {

  }

  &.Invalid.Touched {
    border-color: $red;
  }

  &.Focused {

  }

  &.Touched {

  }

  &.Untouched {

  }

  &.Dirty {

  }

  &.Pristine {

  }
}
