@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.InputBase {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.45;
  padding: .5rem .5rem;
  border: 2px solid transparent;
  background-color: $gray-100;
  // height: 2.5rem;
  border-radius: $border-radius;
  transition: all .3s ease-in-out;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: $gray-200;
  }

  &:focus {
    outline: none;
    border-color: $gray-300;
    cursor: default;
  }

  &:disabled {
    opacity: $btn-disabled-opacity;
    color: $gray-900;
    cursor: default;
  }

  &.Valid {

  }

  &.Invalid.Touched {
    border-color: $red;
  }

  &.Focused {

  }

  &.Touched {

  }

  &.Untouched {

  }

  &.Dirty {

  }

  &.Pristine {

  }
}
