@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";
@import "../triads.variables.scss";

.TriadsBoard {
  padding: 4rem 0 0;
  display: flex;
  flex-wrap: wrap;
  width: $triadsBoardWidth;
  margin: 0 auto;
}
