@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.TimerPage {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;

  .counterWrapper {
    margin: auto;
  }
}
