@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";
@import "../triads.variables.scss";

.RandomMode {
  position: relative;
  max-width: 242px;
  margin: 0 auto;
}

.TriadsButton {
  background: $nodeBg;
  color: $triadPrimary;
  border: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: $border-radius;
  @include transition(background);

  &:hover {
    background: darken($nodeBg, 5%);
  }

  &:active {
    background: $triadPageBg;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $triadPrimary, 0 0 16px 0 rgba($triadPrimary, 0.2);
  }
}

.TriadsControls {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
}

.TriadsWidget {
  text-align: center;

  .posibilities {
    border: 1px solid rgba($triadPrimary, .1);
    padding: .25rem;
    margin: .25rem 0;
  }
}
