@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.TriadsBoard {
  padding: 4rem 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 242px;
  margin: 0 auto;

  .actions {
    flex-grow: 3;
  }
}
