@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

:global {

  .Aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: $zIndexAside;
    width: $asideWidth;
    background-color: $gray-100;
    padding-top: 2.5rem;

    &.AsideHiddenAnimate {
      animation: 0.3s $transition-func-cubic 0s Aside-Slide-Out;
    }

    &.AsideHidden {
      display: none;
    }

    &.AsideShowedAnimate {
      animation: 0.3s $transition-func-cubic 0s Aside-Slide-In;
    }

  }

}

