@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.Main {
  position: relative;
  font-family: $font-family-sans-serif-base;
}

.Content {
  padding-left: $asideWidth + 1rem;
  transition: padding 0.2s $transitionFunc;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }

  &.ContentExpanded {
    padding-left: 0;
  }
}

.AsideToggler {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  z-index: $zIndexAsideToggler;
  border-radius: 0 8px 8px 0;
}
