@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.Main {
  position: relative;
  font-family: $font-family-sans-serif-base;
}

.Content {
  padding-left: $asideWidth + 2rem;
  padding-right: 4rem;
  transition: padding 0.2s $transition-func-cubic;
  padding-top: 1rem;

  &.ContentExpanded {
    padding-left: 4rem;
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }


}

.AsideToggler {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 0.5rem 0.5rem .5rem;
  z-index: $zIndexAsideToggler;
  border-radius: 0 8px 8px 0;
}
