@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.Accordion {
  position: relative;

  .AccordionToggler {
    display: block;
  }

  .AccordionContentWrapper {
    overflow: hidden;
    //transition: height .2s $transitionFunc;
  }

  .AccordionContent {
    display: block;
  }

  .AccordionContentItem {
    display: block;
  }
}
