@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.Body {
  max-width: 520px;
}

.Box {
  min-height: 120px;
  background-color: $gray-100;
  margin-bottom: 8px;
}

.Milq {
  color: $milq-color;
}

.Desc {
  color: $gray-600;
}
