@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

$triadPageBg: #23221C;

.TriadsPage {
  height: 100vh;
  width: 100vw;
  color: yellow;
  background-color: $triadPageBg;
  display: flex;

  .TriadsPageContent {
    margin: auto;
  }

  .BackLink {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
}
