@import '../../scss/variables';
@import '../../scss/mixins';

.muzq-header--toggle-language {
  font-weight: 600;
  text-align: right;

  .language-toggler--option {
    display: inline-block;
    padding: 0 0.5rem;
    opacity: 0.6;
    cursor: pointer;

    &.active {
      opacity: 1;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 0.375rem;
    }

  }
}
