@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.Drawer {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100%;
  width: 520px;
  background-color: $white;
  z-index: $zindex-modal;
  box-shadow: 0 0 80px rgba(0,0,0,0.04), 0 0 30px rgba(0,0,0,0.08);
  transform: translateX(150%);
  transition: all .3s ease-in-out;

  &.animated {
    transform: translateX(0);
  }

  .DrawerContent {
    overflow-y: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    padding: 1rem;
  }

  .DrawerControl {
    margin-bottom: 1.5rem;
  }
}