@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.DocSection {
  padding: 3rem 0;
  border-bottom: 1px solid $border-color;
  position: relative;

  &.flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &.spaceNONE {
    gap: 0;
  }

  &.spaceXS {
    gap: 0.125rem;
  }

  &.spaceSM {
    gap: 0.25rem;
  }

  &.spaceMD {
    gap: 0.5rem;
  }

  &.spaceLG {
    gap: 1rem;
  }
}
