@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.AsideElement {
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-size: 0.875rem;
  line-height: 1.45;

  &.AsideElementInteractive {
    cursor: pointer;
    user-select: none;
    @include transition(background-color);

    &:hover {
      background-color: darken($gray-100, 5%);
    }
  }
}
