@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.PageTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5em;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 800;
  color: $gray-900;
}
