@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.PageTitle {
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-bottom: 0.5em;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  color: $gray-600;

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 8px;
  }
}
