@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";
@import './scss/term-loader-animation';

.TermLoader {
  width: 32px;
  height: 32px;
  animation: 1.2s linear infinite preloader;
  @include get-keyframe(1);

  background-size:
      3px 5px, 3px 5px, 3px 5px, 3px 5px,
      3px 5px, 3px 5px, 3px 5px, 3px 5px;

  background-position:
    11px 7px,
    11px 12px,
    11px 17px,
    11px 22px,

    18px 22px,
    18px 17px,
    18px 12px,
    18px 7px;

  background-repeat: no-repeat;
}

$animation-length: 1.2;

.TermLoaderBlocks {
  position: relative;
  width: 32px;
  height: 32px;

  .TermLoaderBlock {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: $gray-800;
    opacity: 0;
    animation: #{$animation-length}s linear infinite preloader-block;

    //@for $i from 1 through 8 {
    //  &:nth-child(#{$i}) {
    //    animation-delay: #{$animation-length/7*(8-$i)}s;
    //  }
    //}

    @for $i from 1 through length($opacity) {
      &:nth-child(#{$i}) {
        left: #{nth($left, $i)}px;
        top: #{nth($top, $i)}px;
        opacity: nth($opacity, $i);
        animation-delay: #{$animation-length/7*(8-$i)}s;
      }
    }

  }
}
