@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";
@import "./Grid.global";

.GridTableRow {
  display: flex;
  border-bottom: 1px solid $gray-200;
  padding: $cellMarginY $cellMarginX;
  position: relative;

  &.GridTableRowStriped {
    &:nth-child(2n) {
      background-color: $gray-100;
    }
  }
}
