@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";


.GridTableHead {
  position: relative;
}

.GridTableHeadContent {
  display: flex;
  border-bottom: 1px solid $gray-200;
}
