@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";
@import "./Grid.global";

.GridTD {
  padding: $cellPaddingY $cellPaddingX;
  margin: $cellMarginY $cellMarginX;
  border-right: 1px solid $gray-200;
  position: relative;
  white-space: nowrap;

  &.GridThemeBase {
    color: $gray-900;
  }

  &.GridThemePrimary {
    color: map-get($theme-primary, text);
  }

  &.GridThemeSuccess {
    color: map-get($theme-success, text);
  }

  &.GridThemeDanger {
    color: map-get($theme-danger, text);
  }

  &.GridThemeMuted {
    color: $text-muted;
  }

  .GridTDChildren {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Link {
    opacity: 0;
  }
  
  &.GridLink {
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 12px rgba(0,0,0,0.1);
      .Link {
        opacity: 1;
      }
    }
  }

  .openDetails {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }

  &:hover {
    &:first-of-type {
      .openDetails {
        display: block;
      }
    }
  }
}
