@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";
@import "./Grid.global";

.GridTableRow {
  display: flex;
  border-bottom: 1px solid transparent;
  padding: $cellMarginY $cellMarginX;
  position: relative;

  &.GridTableRowBorder {
    border-bottom: 1px solid $gray-200;
  }

  &.GridTableRowCard {
    border-radius: 12px;
    cursor: pointer;
    padding: $cellMarginY+4px $cellMarginX+4px;

    &::before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      right: 0;
      height: 3px;
      background: $white;
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: $gray-200;
      opacity: 1;
      transition: opacity .2s ease-in-out;
    }

    &:hover {
      background-color: $gray-050;

      &::after {
        opacity: 0;
      }

      &::before {
        opacity: 1;
      }
    }
  }

  &.GridTableRowStriped {
    &:nth-child(2n) {
      background-color: $gray-100;
    }
  }
}
