@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";
@import "./Grid.global";

.GridTH {
  padding: $cellPaddingY $cellPaddingX;
  margin: $cellMarginY $cellMarginX;
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: space-between;
  border-right: 1px solid transparent;
  font-weight: 600;
  color: $gray-600;

  &:hover {
    background-color: $gray-050;

    .GridTHControl {
      opacity: 1;
    }

  }

  &.GridTHCard {
    border-radius: 12px;
  }

  .GridTHContent {

  }

  .GridTHControl {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    width: 5px;
    height: 100%;
    border-right: 1px solid $gray-200;
    cursor: e-resize;
  }
}
