@import "./styles/bootstrap/bootstrap.scss";

@import "./styles/components/link.scss";
@import "./styles/components/typo.scss";
@import "./styles/components/addons.scss";

@import "./styles/helpers/text-overflow.scss";
@import "./styles/helpers/inline-block.scss";
@import "./styles/helpers/animations.scss";


html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-y: scroll;

  @include media-breakpoint-down(sm) {
    padding: 0 1rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif-heading;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: .5rem;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: $gray-300;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: $gray-500;
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}