@import './scss/bootstrap.scss';
@import './scss/components/btn';
@import './scss/components/page';
@import './scss/components/loader-block';
@import './scss/typo/typo';
@import './scss/images/image-wrappers';

html {
  // zoom: 75%;
}

body {
  --muzq-body-bg: white;         // $white
  --muzq-text-color: #22242D;    // $gray-900
  --muzq-link-color: #3A3C4A;    // $gray-800
}

body.dark {
  --muzq-body-bg: #22242D;       // $gray-900
  --muzq-text-color: white;      // $white
  --muzq-link-color: #F7F7F8;    // $gray-100
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--muzq-body-bg);
  color: var(--muzq-text-color);
  min-width: 320px;
  min-height: 320px;

  &.lock {
    //overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:link, a:visited {
  text-decoration: none;
}

::-moz-selection {
  background: $primary-dark;
  color: $white;
}

::selection {
  background: $primary-dark;
  color: $white;
}
