@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";


.Card {
  padding: 1.5rem;
  border-radius: $border-radius;
  background-color: $white;
  margin-bottom: 1rem;

  .CardHeader {

  }

  .CardContent {

  }

  .CardActions {

  }
}
