@import "src/styles/bootstrap/variables";
@import "src/styles/bootstrap/mixins";

.Card {
  padding: 1rem;
  border-radius: $border-radius;
  background-color: $gray-100;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.45;
  position: relative;

  .Content {
    position: relative;
  }

  .ChildrenWrapper {
    display: block;
    margin: 0;
  }

  &.Error {
    background-color: rgba($red, 0.1);
    border: 1px solid rgba($red, 0.3);
    border-left-width: 4px;
  }

  .CardHeader {
    padding-bottom: .5rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: .5rem;
  }

  .CardContent {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }

}
